<a href="https://colab.research.google.com/github/Iqbalnm786/EDA/blob/main/Medical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EDA ON TRAINING DATA**

---

In [62]:
import pandas as pd
import numpy as np
df =pd.read_csv('/content/Train-1617360447408-1660719685476.csv')
train=df.copy()
train

,index,encounter_id,patient_id,race,gender,age,weight,time_in_hospital,medical_specialty,num_lab_procedures,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
0,69375,197029140,51521940,Hispanic,Male,[80-90),?,4,Emergency/Trauma,39,...,No,No,No,No,No,No,No,No,Yes,1
1,57272,163571946,92631357,Caucasian,Male,[60-70),?,3,Emergency/Trauma,34,...,No,No,No,No,No,No,No,No,No,0
2,82347,256497366,30023982,Caucasian,Female,[50-60),?,6,Nephrology,50,...,No,Down,No,No,No,No,No,Ch,Yes,1
3,89608,289891212,93606021,AfricanAmerican,Female,[70-80),?,5,?,63,...,No,Down,No,No,No,No,No,Ch,Yes,1
4,24091,81873900,23464296,Caucasian,Male,[70-80),?,9,Psychiatry,17,...,No,No,No,No,No,No,No,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66582,39934,124202466,23450508,Caucasian,Female,[70-80),?,11,InternalMedicine,40,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,145667070,29324601,Caucasian,Male,[80-90),?,4,?,39,...,No,No,No,No,No,No,No,No,No,1
66584,76555,231061116,2179062,Caucasian,Female,[60-70),?,2,?,24,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,84911682,20531754,?,Female,[80-90),?,4,InternalMedicine,39,...,No,No,No,No,No,No,No,No,No,0
66586,51312,153167502,81985473,Caucasian,Female,[80-90),?,2,?,38,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [63]:
(df['race']=='?').sum()

np.int64(1504)

In [64]:
train.drop(['encounter_id','patient_id','weight'],axis=1,inplace=True)

In [65]:
train

,index,race,gender,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
0,69375,Hispanic,Male,[80-90),4,Emergency/Trauma,39,1,9,1,...,No,No,No,No,No,No,No,No,Yes,1
1,57272,Caucasian,Male,[60-70),3,Emergency/Trauma,34,1,12,0,...,No,No,No,No,No,No,No,No,No,0
2,82347,Caucasian,Female,[50-60),6,Nephrology,50,2,24,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
3,89608,AfricanAmerican,Female,[70-80),5,?,63,0,14,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
4,24091,Caucasian,Male,[70-80),9,Psychiatry,17,1,11,0,...,No,No,No,No,No,No,No,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66582,39934,Caucasian,Female,[70-80),11,InternalMedicine,40,4,35,0,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,Caucasian,Male,[80-90),4,?,39,1,7,0,...,No,No,No,No,No,No,No,No,No,1
66584,76555,Caucasian,Female,[60-70),2,?,24,1,13,0,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,?,Female,[80-90),4,InternalMedicine,39,1,14,0,...,No,No,No,No,No,No,No,No,No,0
66586,51312,Caucasian,Female,[80-90),2,?,38,2,12,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [66]:
train['race']=train['race'].replace('?','unknown')

In [67]:
train['race'].value_counts()

race
Caucasian          49906
AfricanAmerican    12406
unknown             1504
Hispanic            1313
Other               1050
Asian                408
Name: count, dtype: int64

In [68]:
train['medical_specialty']=train['medical_specialty'].replace('?','unknown')

In [69]:
train

,index,race,gender,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
0,69375,Hispanic,Male,[80-90),4,Emergency/Trauma,39,1,9,1,...,No,No,No,No,No,No,No,No,Yes,1
1,57272,Caucasian,Male,[60-70),3,Emergency/Trauma,34,1,12,0,...,No,No,No,No,No,No,No,No,No,0
2,82347,Caucasian,Female,[50-60),6,Nephrology,50,2,24,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
3,89608,AfricanAmerican,Female,[70-80),5,unknown,63,0,14,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
4,24091,Caucasian,Male,[70-80),9,Psychiatry,17,1,11,0,...,No,No,No,No,No,No,No,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66582,39934,Caucasian,Female,[70-80),11,InternalMedicine,40,4,35,0,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,Caucasian,Male,[80-90),4,unknown,39,1,7,0,...,No,No,No,No,No,No,No,No,No,1
66584,76555,Caucasian,Female,[60-70),2,unknown,24,1,13,0,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,unknown,Female,[80-90),4,InternalMedicine,39,1,14,0,...,No,No,No,No,No,No,No,No,No,0
66586,51312,Caucasian,Female,[80-90),2,unknown,38,2,12,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [70]:
train["race"] = (train["race"].replace("unknown", np.nan).fillna(train["race"].mode()[0]))

In [71]:
train

,index,race,gender,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
0,69375,Hispanic,Male,[80-90),4,Emergency/Trauma,39,1,9,1,...,No,No,No,No,No,No,No,No,Yes,1
1,57272,Caucasian,Male,[60-70),3,Emergency/Trauma,34,1,12,0,...,No,No,No,No,No,No,No,No,No,0
2,82347,Caucasian,Female,[50-60),6,Nephrology,50,2,24,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
3,89608,AfricanAmerican,Female,[70-80),5,unknown,63,0,14,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
4,24091,Caucasian,Male,[70-80),9,Psychiatry,17,1,11,0,...,No,No,No,No,No,No,No,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66582,39934,Caucasian,Female,[70-80),11,InternalMedicine,40,4,35,0,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,Caucasian,Male,[80-90),4,unknown,39,1,7,0,...,No,No,No,No,No,No,No,No,No,1
66584,76555,Caucasian,Female,[60-70),2,unknown,24,1,13,0,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,Caucasian,Female,[80-90),4,InternalMedicine,39,1,14,0,...,No,No,No,No,No,No,No,No,No,0
66586,51312,Caucasian,Female,[80-90),2,unknown,38,2,12,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [72]:

train['medical_specialty']=train['medical_specialty'].replace("unknown",np.nan)
train['medical_specialty'].fillna(train['medical_specialty'].mode()[0],inplace=True)

/tmp/ipython-input-687052486.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['medical_specialty'].fillna(train['medical_specialty'].mode()[0],inplace=True)

In [73]:
train

,index,race,gender,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
0,69375,Hispanic,Male,[80-90),4,Emergency/Trauma,39,1,9,1,...,No,No,No,No,No,No,No,No,Yes,1
1,57272,Caucasian,Male,[60-70),3,Emergency/Trauma,34,1,12,0,...,No,No,No,No,No,No,No,No,No,0
2,82347,Caucasian,Female,[50-60),6,Nephrology,50,2,24,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
3,89608,AfricanAmerican,Female,[70-80),5,InternalMedicine,63,0,14,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
4,24091,Caucasian,Male,[70-80),9,Psychiatry,17,1,11,0,...,No,No,No,No,No,No,No,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66582,39934,Caucasian,Female,[70-80),11,InternalMedicine,40,4,35,0,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,Caucasian,Male,[80-90),4,InternalMedicine,39,1,7,0,...,No,No,No,No,No,No,No,No,No,1
66584,76555,Caucasian,Female,[60-70),2,InternalMedicine,24,1,13,0,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,Caucasian,Female,[80-90),4,InternalMedicine,39,1,14,0,...,No,No,No,No,No,No,No,No,No,0
66586,51312,Caucasian,Female,[80-90),2,InternalMedicine,38,2,12,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [74]:
(train['number_outpatient']=='?').sum()

np.int64(0)

In [75]:
train["diag_1"] = train["diag_1"].replace("?", np.nan)
train['diag_1'].fillna(train['diag_1'].mode()[0],inplace=True)
train["diag_1"] = pd.to_numeric(train["diag_1"], errors="coerce")
train = train.dropna(subset=["diag_1"])

/tmp/ipython-input-220806858.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['diag_1'].fillna(train['diag_1'].mode()[0],inplace=True)

In [76]:
train["diag_2"] = train["diag_2"].replace("?", np.nan)
train['diag_2'].fillna(train['diag_2'].mode()[0],inplace=True)
train["diag_2"] = pd.to_numeric(train["diag_2"], errors="coerce")
train = train.dropna(subset=["diag_2"])

/tmp/ipython-input-1895602224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["diag_2"] = train["diag_2"].replace("?", np.nan)
/tmp/ipython-input-1895602224.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['diag_2'].fillna(train['diag_2'].mode()[0],inplace=True)
/tmp/ipython-input-1895602224.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['diag_2'].fillna(train['diag_2'].mode()[0],inplace=True)
/tmp/ipython-input-1895602224.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["diag_2"] = pd.to_numeric(train["diag_2"], errors="coerce")

In [77]:
train["diag_3"] = train["diag_3"].replace("?", np.nan)
train['diag_3'].fillna(train['diag_3'].mode()[0],inplace=True)
train["diag_3"] = pd.to_numeric(train["diag_3"], errors="coerce")
train = train.dropna(subset=["diag_3"])

/tmp/ipython-input-3586835937.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['diag_3'].fillna(train['diag_3'].mode()[0],inplace=True)

In [78]:
train['diag_3'].head(20)

0     585.0
1     569.0
2     585.0
3     250.0
4     300.0
5     414.0
6     998.0
7     780.0
8     458.0
9     427.0
10    276.0
11    585.0
12    625.0
13    250.0
14    518.0
15    585.0
16    496.0
17    255.0
18    276.0
19    250.0
Name: diag_3, dtype: float64

In [ ]:
train.drop(['diag_4','X1','X2','race'],axis=1,inplace=True)

In [80]:
train['diag_5'].info()

<class 'pandas.core.series.Series'>
Index: 61107 entries, 0 to 66586
Series name: diag_5
Non-Null Count  Dtype
--------------  -----
61107 non-null  float64
dtypes: float64(1)
memory usage: 954.8 KB

In [81]:
train.columns

Index(['index', 'gender', 'age', 'time_in_hospital', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'diag_5', 'number_diagnoses', 'X3', 'X4', 'X5',
       'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16',
       'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

In [82]:
train['change'].isnull().sum()

np.int64(0)

In [83]:
train.columns

Index(['index', 'gender', 'age', 'time_in_hospital', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'diag_5', 'number_diagnoses', 'X3', 'X4', 'X5',
       'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16',
       'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

In [84]:
train.to_csv('dataset.csv',index=False)

# **EDA ON TESTING DATA**

---

In [85]:
df1 =pd.read_csv('/content/test-1617360461595-1660719701431.csv')
test=df1.copy()
test

,index,encounter_id,patient_id,race,gender,age,weight,time_in_hospital,medical_specialty,num_lab_procedures,...,X18,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed
0,11128,46325466,3928383,Caucasian,Female,[70-80),?,3,?,45,...,No,No,No,No,No,No,No,No,No,Yes
1,79758,245219616,60926103,Caucasian,Male,[60-70),?,2,?,10,...,No,No,No,No,No,No,No,No,No,Yes
2,52497,155321232,25234848,AfricanAmerican,Male,[70-80),?,11,InternalMedicine,41,...,No,No,Steady,No,No,No,No,No,No,Yes
3,64504,179491944,86935374,Caucasian,Female,[70-80),?,1,InternalMedicine,71,...,No,No,No,No,No,No,No,No,No,No
4,987,7425954,2486826,AfricanAmerican,Female,[50-60),?,7,InternalMedicine,59,...,No,No,Steady,No,No,No,No,No,Ch,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16642,69643,198316824,71780013,Caucasian,Male,[70-80),?,3,Surgery-Vascular,51,...,No,No,Down,No,No,No,No,No,Ch,Yes
16643,29787,96993108,23318685,Caucasian,Male,[70-80),?,2,InternalMedicine,37,...,No,No,No,No,No,No,No,No,Ch,Yes
16644,44710,137896878,90856791,Caucasian,Female,[50-60),?,2,Family/GeneralPractice,14,...,No,No,No,No,No,No,No,No,No,No
16645,28486,93395658,3233259,?,Male,[70-80),?,1,?,35,...,No,No,No,No,No,No,No,No,No,Yes
16646,39179,121984746,41817384,Caucasian,Female,[80-90),?,1,Cardiology,13,...,No,No,No,No,No,No,No,No,No,Yes

In [86]:
test.drop(['encounter_id','patient_id','weight'],axis=1,inplace=True)

In [87]:
train = train[train["gender"] != "Unknown/Invalid"]

In [88]:
test['race']=test['race'].replace('?','unknown')

In [89]:
test['medical_specialty']=test['medical_specialty'].replace('?','unknown')

In [90]:
test["race"] = (test["race"].replace("unknown", np.nan).fillna(test["race"].mode()[0]))

In [91]:

test['medical_specialty']=test['medical_specialty'].replace("unknown",np.nan)
test['medical_specialty'].fillna(test['medical_specialty'].mode()[0],inplace=True)

/tmp/ipython-input-3345553838.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['medical_specialty'].fillna(test['medical_specialty'].mode()[0],inplace=True)

In [92]:
test["diag_1"] = test["diag_1"].replace("?", np.nan)
test['diag_1'].fillna(test['diag_1'].mode()[0],inplace=True)
test["diag_1"] = pd.to_numeric(test["diag_1"], errors="coerce")
test= test.dropna(subset=["diag_1"])

/tmp/ipython-input-2665334394.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['diag_1'].fillna(test['diag_1'].mode()[0],inplace=True)

In [93]:
test["diag_2"] = test["diag_2"].replace("?", np.nan)
test['diag_2'].fillna(test['diag_2'].mode()[0],inplace=True)
test["diag_2"] = pd.to_numeric(test["diag_2"], errors="coerce")
test= test.dropna(subset=["diag_2"])

/tmp/ipython-input-1208546653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["diag_2"] = test["diag_2"].replace("?", np.nan)
/tmp/ipython-input-1208546653.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['diag_2'].fillna(test['diag_2'].mode()[0],inplace=True)
/tmp/ipython-input-1208546653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['diag_2'].fillna(test['diag_2'].mode()[0],inplace=True)
/tmp/ipython-input-1208546653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["diag_2"] = pd.to_numeric(test["diag_2"], errors="coerce")

In [94]:
test["diag_3"] = test["diag_3"].replace("?", np.nan)
test['diag_3'].fillna(test['diag_1'].mode()[0],inplace=True)
test["diag_3"] = pd.to_numeric(test["diag_3"], errors="coerce")
test= test.dropna(subset=["diag_3"])

/tmp/ipython-input-310465851.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['diag_3'].fillna(test['diag_1'].mode()[0],inplace=True)

In [95]:
test['diag_4']

0          410
1          401
2          599
3          276
4        250.6
         ...
16642      707
16643      250
16644      276
16645      600
16646      401
Name: diag_4, Length: 15314, dtype: object

In [96]:
test.drop(['diag_4','X1','X2'],axis=1,inplace=True)

In [97]:
test.columns

Index(['index', 'race', 'gender', 'age', 'time_in_hospital',
       'medical_specialty', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'diag_5',
       'number_diagnoses', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20',
       'X21', 'X22', 'X23', 'X24', 'X25', 'change', 'diabetesMed'],
      dtype='object')

In [98]:
test = test[test["gender"] != "Unknown/Invalid"]

In [99]:
test.to_csv('test.csv',index=False)

In [100]:
train['diag_1'].describe()

count    61106.000000
mean       489.490543
std        202.906488
min          3.000000
25%        410.000000
50%        436.000000
75%        590.000000
max        999.000000
Name: diag_1, dtype: float64

### **MODEL BUILDING**

---

In [101]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB

In [102]:
x_train = train.drop(columns=["readmitted"])
y_train = train["readmitted"]

x_test=test.copy()

In [103]:
cat_cols = x_train.select_dtypes(include="object").columns
num_cols = x_train.select_dtypes(exclude="object").columns

In [104]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), num_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols)
    ]
)

In [105]:
models = {
    "Logistic Regression": LogisticRegression(
        max_iter=3000, solver="saga", class_weight="balanced", n_jobs=-1
    ),
    "KNN": KNeighborsClassifier(n_neighbors=5),  # keep for comparison
    "Decision Tree": DecisionTreeClassifier(
        max_depth=10, min_samples_leaf=50, class_weight="balanced"
    ),
    "Random Forest": RandomForestClassifier(
        n_estimators=100, max_depth=12, min_samples_leaf=50, n_jobs=-1
    ),
    "Gradient Boosting": GradientBoostingClassifier(n_estimators=100),
    "SVM": LinearSVC(class_weight="balanced", max_iter=2000)

}

In [106]:
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score, accuracy_score

results = {}

for name, clf in models.items():
    pipe = Pipeline(steps=[
        ("preprocess", preprocessor),
        ("model", clf)
    ])

    pipe.fit(x_train, y_train)
    y_pred = pipe.predict(x_train)   # or validation set

    results[name] = {
        "Accuracy": accuracy_score(y_train, y_pred),
        "F1 Score": f1_score(y_train, y_pred, average="weighted")
    }

results_df = pd.DataFrame(results).T
print(results_df)

                     Accuracy  F1 Score
Logistic Regression  0.625716  0.624007
KNN                  0.777207  0.776858
Decision Tree        0.651082  0.651574
Random Forest        0.648463  0.637396
Gradient Boosting    0.646254  0.639783
SVM                  0.624832  0.623196

In [111]:
best_model_name = results_df["F1 Score"].idxmax()
print("Best Model:" ,best_model_name )

Best Model: KNN

In [112]:
best_model = models[best_model_name]
final_pipe = Pipeline(steps=[
    ("preprocess", preprocessor),
    ("model", best_model)
])

final_pipe.fit(x_train, y_train)
y_pred = final_pipe.predict(x_test)

In [113]:
test["predicted_readmitted"] = final_pipe.predict(x_test)

In [114]:
test[["predicted_readmitted"]].to_csv("submission.csv", index=False)

In [117]:
dftest=pd.read_csv('/content/submission.csv')
dfpredict=pd.read_csv('/content/test.csv')

combined=pd.concat([dfpredict,dftest],axis=1)
combined.to_csv('combined.csv',index=False)